*{
    margin: 0;
    padding: 0;
    text-align: center;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.board{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.tile{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    color: white;
}